body{
	text-align:left;
	background-color:#CCFAF8;
	padding:1px;
}

.header{
	padding: 5px;
	background-color: #83E573;
	/*yellow*/
	color: #FFF12F;
	font-size: 20px;
	margin-left: 185px;
	margin-right: 185px;
}

.menu{
	float:left;
	/*margin-right: 15px;*/
	font-size: 19px;
}

h1{
	text-align:center;
}

h2{
	margin-top:4px;
	text-align:center;
	margin-bottom:4px;
}

p{
	font-size: 19px;
	margin-left: 15px;
}